version: '3.8'
services:
  devcontainer:
    image: mcr.microsoft.com/devcontainers/typescript-node:0-18
    volumes:
      - ../:/workspace
    command: sleep infinity
    ports:
      - 19000:19000
      - 19001:19001

  db:
    image: mariadb:latest
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: password
  
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8888:8080